body {
    padding: 0;
	margin:0;
    }

html, body, #mapid {
    height: 100%;
    font-family: 'Asap', sans-serif;
	color: #1d1d1b;
    }

#logo{
	height: 40px;
}

span {
	color:#1a1a1a;
}

a {
	font-size:1em;
	text-decoration:none;
	color:#d11558;
}

.onglets{
	color:#d11558;
}

.onglets:hover{
	background-color:#fff;
}
		
.presentation {
	display: block;
	}

#sources {
	margin-top: 50px;
}
	
#popup {
	display: none;
	}
		
.Tooltips {
	font-size:1.2em;
	color: #1a1a1a;
	background-color: #fdece3;
	text-transform:uppercase;
	Font-Weight: Bold;
	}
		
strong{
	color:#d11558;
	font-size:1.6em;
	Font-Weight: Bold;
	}
		
h1{
	font-size:2em;
	color:#e51b48;
	}
	
h2{
	font-size:1.2em;
	color:#fab612;
	}
	
h3{
	font-size:1em;
	color:#000;
	}

#retour {
	color:#e51b48;
	font-size:1em;
	cursor:pointer;
}
	
/*Style du tableau*/
	
.divTable{
	display: table;	
}


.divTableRow {
	display: table-row;	
}

.divTableCell, .divTableHead {
	vertical-align:middle;
	padding: 5px 0px;
}

.divTableBody {
	display: table-row-group;
}

/* Style des boutons */

.button_container {
	margin-top:25px;
	}

.bouton {
	color: #1a1a1a;
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor:pointer;
	padding:6px;
	margin: 1px;
	vertical-align: middle;
	text-align: left;
	border-radius: 4px;
}

.bouton_off {
		color: #1a1a1a;
		background-color: transparent;
		}
		
.bouton:hover {
	color: white;
	background-color: #e51b48;
	
	}
		

.bouton_on {
	color: #e51b48;
	background-color: #e5e5e5;
	
	}
